<%= provide(:title, 'Home') %>
<%= button_to "Play new game", games_path, class: "Button", :method => :post %>
<% unless signed_in? %>
    <h1>Sea Battle</h1>
    <p>
      Welcome to the Sea Battle app.
      Do you remember the all well-known old game for which you only need a pen, paper, and of course, the opponent?
      You may try it in your browser now!
    </p>
    <div class="row">
      <div class="span6 offset3">
        <%= form_for(:session, url: sessions_path) do |f| %>

            <%= f.label :email %>
            <%= f.text_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.submit "Sign in", class: "Button" %>
        <% end %>
      </div>
    </div>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
<% end %>