<%= provide(:title, 'Home') %>

<h1>Sea Battle</h1>
<% if false %>
    <% if current_player.admin? %>
        <%= link_to "Add new post", post_path, :class => "btn btn-default" %>
    <% end %>
    <% if @newsposts.any? %>
        <ol class="newsposts">
          <%= render partial: "shared/newsposts", collection: @newsposts, as: :post %>
        </ol>
        <%= will_paginate @newsposts %>
    <% end %>
<% else %>
    <div class="text-center">
      <p>
        Welcome to the Sea Battle Ruby-On-Rails app.
        Do you remember the all well-known old game for which you only need a pen, paper, and of course, the opponent?
        You may try it in your browser now!
      </p>
      <% unless signed_in? %>
          <p>
            Please <%= link_to "Sign In", signin_path %> or
            <%= link_to "Sign Up.", signup_path %>
          </p>
      <% end %>
    </div>
<% end %>
