<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "Button" %>
  <% end %>
</div>

<p>New here? <%= link_to "Sign up now!", signup_path %></p>