<table class="board_container text-center">
  <thead>
  <th colspan='11' class="text-center">
    <%= link_to game.player_b.name, game.player_b %><br>
    <small><%= game.player_b.rating %> pts.</small>
  </th>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <% ('A'..'J').each do |i| %>
        <td><%= i %></td>
    <% end %>
  </tr>
  <% for i in 0..9 %>
      <tr>
        <td style="padding-right: 10px;"><%= i %></td>
        <% for j in 0..9 %>
            <td class="board">
              <% if !game.game_over? && (game.player_b_board[i][j][0] == 0 || game.player_b_board[i][j][0] == 1) %>
                  <%= link_to "/move/#{game.id}/cell=#{i}_#{j}", :data => { disable_with: '' }, :remote => true do %>
                      <%= image_tag '/transparent.png', :style => "width:28px;height:28px;" %>
                  <% end %>
              <% elsif game.player_b_board[i][j][0] == 0 %>
                  <%= image_tag '/transparent.png', :style => "width:28px;height:28px;border:3px solid transparent;" %>
              <% elsif game.player_b_board[i][j][0] == 1 %>
                  <%= image_tag '/transparent.png', :style => "width:28px;height:28px;border:3px solid black;" %>
              <% elsif game.player_b_board[i][j][0] == 4 %>
                  <div class="miss">
                    &bull;
                  </div>
              <% elsif game.player_b_board[i][j][0] == 3 && (game.player_b_board[i][j][1].reload.is_sunk? || game.game_over?) %>
                  <div class="sunk">
                    &Chi;
                  </div>
              <% else %>
                  <div class="hit">
                    &Chi;
                  </div>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>