<table>
  <thead>
  <th colspan='11'>
    <%= link_to @game.player_b.name, @game.player_b %><br>
    <small><%= @game.player_b.rating %> pts.</small>
  </th>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <% ('A'..'J').each do |i| %>
        <td><%= i %></td>
    <% end %>
  </tr>
  <% for i in 0..9 %>
      <tr>
        <td style="padding-right: 10px;"><%= i %></td>
        <% for j in 0..9 %>
            <td class="board">
              <% if !@game.game_over? && (@game.player_b_board[i][j][0] == 0 || @game.player_b_board[i][j][0] == 1) %>
                  <%= link_to "/move/#{@game.id}/cell=#{i}_#{j}", :data => { disable_with: '' }, :remote => true do %>
                      <%= image_tag '/transparent.png', :style => "width:28px;height:28px;" %>
                  <% end %>
              <% elsif @game.player_b_board[i][j][0] == 0 %>
                  <%= image_tag '/transparent.png', :style => "width:25px;height:25px;3px solid transparent;" %>
              <% elsif @game.player_b_board[i][j][0] == 1 %>
                  <%= image_tag '/transparent.png', :style => "width:25px;height:25px;" %>
              <% elsif @game.player_b_board[i][j][0] == 4 %>
                  <div class="miss">
                    <span style="display:inline-block; vertical-align:middle">&bull;</span>
                  </div>
              <% elsif @game.player_b_board[i][j][0] == 3 && @game.player_b_board[i][j][1].reload.is_sunk? %>
                  <div class="sunk">
                    <span style="display:inline-block; vertical-align:middle">&Chi;</span>
                  </div>
              <% else %>
                  <div class="hit">
                    <span style="display:inline-block; vertical-align:middle">&Chi;</span>
                  </div>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>