<%= form_for(comment, :remote=>true) do |f| %>
    <div class="field" style="margin-bottom: 10px;">
      <%= f.text_area :content, placeholder: "Add your comment...",
                      :maxlength => 140, :style => "width:100%;margin-bottom:0px;" %>
      <span class="countdown"></span>
    </div>
    <div>
      <%= f.text_field :game_id %>
    </div>
    <%= f.submit "Post", class: "Button" %>
<% end %>

<a id = "comments_block"></a>

<% comments.each do |c| %>
    <ol class="comments">
    <span class="content">
      <% if current_player?(c.player) %>
        <%= link_to 'You', c.player %>
      <% else %>
        <%= link_to c.player.name, c.player %>
      <% end %>
      <%= "wrote: #{c.content}" %>
    </span>
      <span class="timestamp">
      Posted <%= time_ago_in_words(c.created_at) %> ago.
    </span>
      <% if current_player?(c.player) || current_player.admin? %>
          <%= link_to "Delete", c, method: :delete,
                      remote: true,
                      :class => "btn btn-mini btn-danger" %>
      <% end %>
    </ol>
<% end %>