<% if game.game_over? && current_player == game.player_a %>
    <% if game.winner == game.player_a %>
        <h4>
          <span id="game_title_win"><%= game.play_status %></span>
        </h4>
    <% else %>
        <h4>
          <span id="game_title_lose"><%= game.play_status %></span>
        </h4>
    <% end %>
<% else %>
    <h4>&nbsp;</h4>
<% end %>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div id="player_board">
      <%= render 'player_board', :game => game %>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div id="bot_board">
      <%= render 'bot_board', :game => game %>
    </div>
  </div>
</div>
<br>
<h4>Game Log:</h4>
<%= text_area_tag(:message, "#{game.game_log}", readonly: true, :class => "game-log") %>