<% if game.game_over? && current_player == game.player_a %>
    <% if game.winner == game.player_a %>
        <h4>
          <span id="game_title_win"><%= game.play_status %></span>
        </h4>
    <% else %>
        <h4>
          <span id="game_title_lose"><%= game.play_status %></span>
        </h4>
    <% end %>
<% else %>
    <h4>&nbsp;</h4>
<% end %>

<table class="board_container">
  <tr>
    <td>
      <div id="player_board">
        <%= render 'player_board', :game => game %>
      </div>
    </td>
    <td style="width: 5%;"><%= image_tag 'transparent.png', :class => "style_img" %></td>
    <td>
      <div id="bot_board">
        <%= render 'bot_board', :game => game %>
      </div>
    </td>
  </tr>
</table>
<br>
<h4>Game Log:</h4>
<%= text_area_tag(:message, "#{game.game_log}", readonly: true, size: "24x6", :class => "game-log") %>