<table>
  <thead>
  <th colspan='11'>
    <%= link_to @game.player_a.name, @game.player_a %><br>
    <small><%= @game.player_a.rating %> pts.</small>
  </th>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <% ('A'..'J').each do |i| %>
        <td><%= i %></td>
    <% end %>
  </tr>
  <% for i in 0..9 %>
      <tr>
        <td style="padding-right: 10px;"><%= i %></td>
        <% for j in 0..9 %>
            <% if @game.player_a_board[i][j][0] == 0 %>
                <td class="board">
                  <%= image_tag '/transparent.png', :style => "width:28px;height:28px;" %>
                </td>
            <% elsif @game.player_a_board[i][j][0] == 1 %>
                <td class="board" style="">
                  <%= image_tag '/transparent.png', :style => "width:22px;height:22px;border:3px solid black;" %>
                </td>
            <% elsif @game.player_a_board[i][j][0] == 3 %>
                <td class="board">
                  <div class="sunk">&#10006;</div>
                </td>
            <% else %>
                <td class="board">
                  <div class="miss">&bull;</div>
                </td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>