<%= provide(:title, "Game ##{@game.id}") %>


<% if @game.game_over? %>
    <center><h3><%= @game.play_status %></h3></center>
<% else %>
    <center><h3>Game in progress...</h3></center>
<% end %>

<table class="board_container">
  <tr>
    <td>
      <table>
        <thead>
        <th colspan='11'>
          <%= link_to @game.player_a.name, @game.player_a %><br>
          <small><%= @game.player_a.rating %> pts.</small>
        </th>
        </thead>
        <tbody>
        <tr>
          <td>
          </td>
          <% ('A'..'J').each do |i| %>
              <td>
                <%= i %>
              </td>
          <% end %>
        </tr>
        <% for i in 0..9 %>
            <tr><td style="padding-right: 10px;"><%= i %></td>
              <% for j in 0..9 %>
                  <td class="board">
                    <% if @game.player_a_board[i][j] == 0 %>
                        <%= image_tag '/empty.png' %>
                    <% elsif @game.player_a_board[i][j] == 1 %>
                        <%= image_tag '/ship.png' %>
                    <% elsif @game.player_a_board[i][j] == 3 %>
                        <%= image_tag '/hit.png' %>
                    <% else %>
                        <%= image_tag '/miss.png' %>
                    <% end %>
                  </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </td>
    <td style="width: 25%;"><%= image_tag 'transparent.png', :class => "style_img" %></td>
    <td>
      <table>
        <thead>
        <th colspan='11'>
          <%= link_to @game.player_b.name, @game.player_b %><br>
          <small><%= @game.player_b.rating %> pts.</small>
        </th>
        </thead>
        <tbody>
        <tr>
          <td>
          </td>
          <% ('A'..'J').each do |i| %>
              <td>
                <%= i %>
              </td>
          <% end %>
        </tr>
        <% for i in 0..9 %>
            <tr><td style="padding-right: 10px;"><%= i %></td>
              <% for j in 0..9 %>
                  <td class="board">
                    <% if @game.player_b_board[i][j] == 0 || @game.player_b_board[i][j] == 1 %>
                        <% cell = "#{i}_#{j}" %>
                        <%= link_to "/move/#{@game.id}/cell=#{cell}" do %>
                            <%= image_tag '/empty.png' %>
                        <% end %>
                    <% elsif @game.player_b_board[i][j] == 3 %>
                        <%= image_tag '/hit.png' %>
                    <% else %>
                        <%= image_tag '/miss.png' %>
                    <% end %>
                  </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<br>
<h4>Game Log:</h4>
<%= text_area_tag(:message, "#{@game.game_log}", readonly: true, size: "24x6") %>