<% if @board.is_ready? %>
    <h4>You are ready to play!</h4>
<% else %>
    <h4>Move your fleet to the board</h4>
    <p class="center">Choose the top left coordinate for a given ship</p>
<% end %>
<table style="margin-left: 15px;">
  <tr>
    <td>
      <table>
        <tbody>
        <tr>
          <td></td>
          <% ('A'..'J').each do |i| %>
              <td><%= i %></td>
          <% end %>
        </tr>
        <% for i in 0..9 %>
            <tr>
              <td style="padding-right: 10px;"><%= i %></td>
              <% for j in 0..9 %>
                  <td class="board">
                    <% if @board.grid[i][j][0] == 0 && !@board.is_ready? %>
                        <% if !Rails.env.test? && user_agent_ok? %>
                            <%= link_to "/attempt/#{@board.id}/#{i}_#{j}/", remote: true do %>
                                <%= image_tag '/transparent.png', :style => "width:30px;height:30px;" %>
                            <% end %>
                        <% else %>
                            <%= link_to "/attempt/#{@board.id}/#{i}_#{j}/", :data => { disable_with: "" }, remote: true do %>
                                <%= image_tag '/transparent.png', :style => "width:30px;height:30px;" %>
                            <% end %>
                        <% end %>
                    <% elsif @board.grid[i][j][0] == 0 %>
                        <%= image_tag '/empty.png' %>
                    <% elsif @board.grid[i][j][0] == 1 %>
                        <%= image_tag '/ship.png' %>
                    <% elsif @board.grid[i][j][0] == 2 %>
                        <%= image_tag '/miss.png' %>
                    <% end %>
                  </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </td>
    <% if !@board.is_ready? %>
        <td style="vertical-align: middle;">
          <div id="current_ship">
            <%= render 'current_ship' %>
          </div>
        </td>
        <td>
          <%= render 'next_ships' %>
        </td>
    <% else %>
        <td style="vertical-align: middle; width: 300px;">
          <div id="save_button">
            <%= render 'save_button' %>
          </div>
        </td>
    <% end %>
    </td>
  </tr>
</table>
<% btn_name = "" %>
<% btn_class = "" %>
<% header = "" %>
<% if @board.is_ready? %>
    <% btn_class = "btn btn-success" %>
    <% btn_name = "Play" %>
<% else %>
    <% header = "Or let AI randomly place your ships" %>
    <% btn_name = "Random positioning" %>
    <% btn_class = "btn btn-warning" %>
<% end %>
<h4 style="padding-top: 10px"><%= header %></h4>
<%= button_to "#{btn_name}", games_path(:board_id => @board), class: "#{btn_class}", :style => "display:block; marghin-left: auto; marghin-right: auto; margin-top: 15px; width: 200px;", :method => :post %>
