<% provide(:title, "Edit profile") %>
<h1>Update your profile</h1>

<%= form_for(@player) do |f| %>
    <%= render 'fields', f: f %>
    <%= f.submit "Update", class: 'Button' %>
<% end %>

<div style="margin-left:15px;">
  <%= form_for(@player, method: :delete) do |f| %>
      <%= f.submit "Delete my account",
                   data: { confirm: "Are you sure?" }, :class => "btn btn-mini btn-danger" %>
  <% end %>
</div>