<%= provide(:title, "#{@player.name}") %>
<% if current_player == @player %>
    <h1>My profile</h1>
<% else %>
    <h1><%= @player.name %> profile</h1>
<% end %>
<div class="row">
  <aside class="span4" style="margin-left:55px;">
    <section>
      <%= render "player_info" %>
    </section>
    <% if current_player == @player && @saved_boards.any? %>
        <section>
          <h5 style="text-align:center;">Saved positions:</h5>
          <%= render partial: "players/saved_boards", collection: @saved_boards, as: :board, :locals => {:current_board_id => nil } %>
        </section>
    <% end %>
  </aside>
  <div class="span5">
    <%= render "player_games" %>
  </div>
</div>