<%= provide(:title, "#{@player.name}") %>
<% if current_player == @player %>
    <h1>My profile</h1>
<% else %>
    <h1><%= @player.name %> profile</h1>
<% end %>
<div class="row">
  <aside class="span3">
    <section>
      <table class="table">
        <thead >
        <th style="text-align: center;">Info</th>
        </thead>
        <tbody>
        <tr><td>Name: <%= @player.name %></tr></td>
        <tr><td>Rating: <%= @player.rating %> pts.</tr></td>
        </tbody>
      </table>
      <% if current_player == @player %>
          <%= button_to "Edit my info", edit_player_path(current_player), class: "Button", :method => :get %>
      <% end %>
    </section>
  </aside>
  <div class="span5">

    <table class="table table-hover">
      <thead>
      <th style="text-align: center;" colspan="2">Games list</th>
      </thead>
      <tbody>
      <% if @games.any? %>
          <% @games.each do |game| %>
              <% if game.winner.nil? %>
                  <% status = "In progress" %>
                  <tr class="warning">
              <% elsif game.winner.id == @player.id %>
                  <% status = "Win" %>
                  <tr class="success">
              <% else %>
                  <% status = "Lose" %>
                  <tr class="error">
              <% end %>
              <td>
                <%= link_to game do %>
                    <%= game.player_a.name %> vs. <%= game.player_b.name %>.
                <% end %>
              </td>
              <td>
                <%= "#{status}" %>
              </td>
              </tr>
          <% end %>
      <% else %>
          <tr class="info">
            <td colspan="2">
              No games so far.
            </td>
          </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan='2' style="margin-left: auto; margin-right: auto; display: block;">
          <%= will_paginate @games %>
        </td>
      </tr>
      </tfoot>
    </table>
    <% if current_player == @player %>
        <%= button_to "Play new game", games_path, class: "Button", :method => :post %>
    <% end %>
  </div>
</div>