<% if signed_in? %>
    <p class="navbar-text">
      Signed in as <%= link_to "#{current_player.name}", player_path(current_player) %>.
      (<small><%= link_to 'sign out', signout_path, method: "delete" %></small>)
    </p>
<% elsif full_title(yield(:title)) == 'Sea Battle | Sign in' %>
    <!-- do nothing -->
<% else %>
    <%= form_for(:session, url: sessions_path, :html => {:class => 'form-inline', :style => "padding-top: 5px; padding-bot: 0;"}) do |f| %>

        <%= f.text_field(:email, :class => "input-small", :placeholder => "e-mail") %>
        <%= f.password_field(:password, :class => "input-small", :placeholder => "password") %>

        <%= f.submit "Log in", :type => :image, :src => "login-small.png", :style => "border-style:none;" %>
    <% end %>
<% end %>