<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= favicon_link_tag 'favicon.ico' %>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div>
  <table class="main_container">
    <tbody>
    <tr style="vertical-align:top;">
      <td>
        <div id="right-sidebar" class="sidebar">
          <%= render 'layouts/left_sidebar' %>
        </div>
      </td>
      <td style="width:10px;"></td>
      <td class="page_content">
        <%= render 'layouts/top_button' %>
        <hr>
        <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}", :style => "padding-left: 100px;") %>
        <% end %>
        <%= yield %>
      </td>
      <td style="width:10px;"></td>
      <td style="vertical-align:top;">
        <div id="right-sidebar" class="sidebar">
          <%= render 'layouts/right_sidebar' %>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan='2'></td>
      <td class="_footer">
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
        <%#= request.user_agent if Rails.env.development? %>
      </td>
      <td colspan='2'></td>
    </tr>
    </tfoot>
  </table>
</div>
</body>
</html>