<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= favicon_link_tag 'favicon.ico' %>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="row">
  <div class="col-md-2">
    <div id="left-side">
      <%= render 'layouts/left_sidebar' %>
    </div>
  </div>
  <div class="col-md-8">
    <div style="min-height:660px;" id="main">
      <%= render 'layouts/top_button', :game => @game %>
      <hr>
      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
    </div>
    <div id="footer">
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
  <div class="col-md-2">
    <div id="right-side">
      <%= render 'layouts/right_sidebar' %>
    </div>
  </div>
</div>
</body>
</html>